<!DOCTYPE html>
<html lang="en" ng-app="App">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=yes">
	<title>Countries, Citys</title>
	<link rel="stylesheet" href="libs/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<div class="container">
		<h2>Paises y continentes.</h2>
		<hr>
		<div class="content">
			<div class="row">
				<div class="col-md-6">
					<div class="graph" ng-controller="GraphCtrl">
						
					</div>
				</div>
				<div class="col-md-6">grafica 2</div>
			</div>
			<div class="row" ng-controller="countriesCtrl">
				<table class="table table-bordered table-striped table-hover">
					<thead>
						<tr>
							<th>País</th>
							<th>Continente</th>
							<th>Región</th>
							<th>Población</th>
							<th>Mandatario</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="country in countries">
							<td>{{country.Name}}</td>
							<td>{{country.Continent}}</td>
							<td>{{country.Region}}</td>
							<td>{{country.Population}}m</td>
							<td>{{country.HeadOfState}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<script src="libs/jquery/jquery.js"></script>
	<script src="http://code.highcharts.com/highcharts.js"></script>
	<script src="http://code.highcharts.com/modules/exporting.js"></script>
	<script src="libs/bootstrap/bootstrap.min.js"></script>
	<script src="libs/angular-1.5.5/angular.js"></script>
	<script src="js/controllers/countriesCtrl.js"></script>
	<script src="js/services/chartServices.js"></script>
</body>
</html>